body{
    height: 500px;
    border: 2px solid green;
}

main{
    display: flex;
    justify-content: center;
}

.Flex {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: dashed purple 2px;
}

.Flex > div {
    font-size: 30px;
    text-align: center;
    color: blue;
    background-color: pink;
    padding: 30px;
    margin: 20px;
    border: solid red 1px;
}